# RL02の質問回答

## 質問1

どうして x <- x+1 のように同じ文字xを再度使って新しく変数を設定できるのでしょうか。

---

A. `x <- 数式`は数式の結果をxに代入することを意味しています。

その際、右辺がまず計算され、その値を左辺に設定する、という順序で処理されます。

そのため、上記の式では、まず`x+1`を計算し、その結果を`x`に設定する。という処理が行われています。

In [ ]:
x <- 1
# x + 10を計算して、その値を変数xに再設定する
x <- x + 10
x

## 質問2

```R
x = 2500
for (i in 1:100) {
  x <- x * i
}
print(x)
```
という解答例を出力したところ、2500, 5000,7500, ...250000となると思ったら2.333155e+161と出てきました。何故ですか？


---


実習７－２で、繰り返したい処理のところに`print(x*i)`と記入すると`2500*1、2500*2、…、2500*100`の100個の数字が表示されてしまいました。なぜ正しい解答が表示されないのかを教えていただきたいです。


---


for構文について

```R
x = 2500
for ( i in 1:100 ) {
  x <- x * i
}
print( x )
```
はxに1から100までかけることを繰り返し、最後にまとめて表記することを、

```R
x = 2500
for ( i in 1:100 ) {
  x <- x * i
  print( x )
}
```
はxにかけ算して表示することを1から100まで繰り返すことを表すという解釈であっていますか？



---

A. あっています。最初の2つの質問にも関連するのでまとめてそれぞれの挙動を説明すると

```R
x = 2500
for ( i in 1:100 ) {
  x <- x * i
}
print( x )
```

こちらのコードでは、

i = 1として{}内の処理を行う... `x <- x * i` → `x <- 2500 * 1` (xに2500×1を代入)

i = 2として{}内の処理を行う... `x <- x * i` → `x <- 2500 * 2` (xに2500×1×2を代入) 

i = 3として{}内の処理を行う... `x <- x * i` → `x <- 5000 * 3` (xに2500×1×2×3を代入) 

i = 4として{}内の処理を行う... `x <- x * i` → `x <- 15000 * 4` (xに2500×1×2×3×4を代入) 

...

i = 100として{}内の処理を行う... `x <- x * i` (xに2500×1×2×3×4×...×100を代入)

そして最後に`print(x)`でxに代入された`2500×1×2×3×4×...×100`の結果を表示するという処理を行っています。

一方で、

```R
x = 2500
for ( i in 1:100 ) {
  x <- x * i
  print( x )
}
```

こちらのコードでは、

i = 1として{}内の処理を行う... `x`に2500×1を代入、そして`x`(2500×1)を表示

i = 2として{}内の処理を行う... `x`に2500×2を代入、そして`x`(2500×1×2)を表示

i = 3として{}内の処理を行う... `x`に5000×3を代入、そして`x`(2500×1×2×3)を表示

...

i = 100として{}内の処理を行う... `x`に2.333155e+159×100を代入、そして`x`(2500×1×2×3×...×100)を表示

という処理を行っています。

In [ ]:
x = 2500
for ( i in 1:100 ) {
  x <- x * i
}
print( x )

## 質問3
for構文やif構文の時に中括弧内で改行していたと思います。改行しなくても同じように実行できたのですが、改行するのはあくまで見やすさのためですか。

A. 見やすさのためです。問題無ければ一行で書いたりしても大丈夫です。

In [ ]:
x = 2500
for (i in 1:100) {
  x <- x * i
}
print(x)

In [ ]:
x = 2500; for (i in 1:100) {x <- x * i}; print(x)

## 質問4
どうやってもRにおいて、sin(pi) を計算して０にすることはできないのですか？


---

A. 細かい話になってしまいますが、Rの内部では 10 進数を 2 進数に直して計算しているため，小数計算の種類によっては近似値になり，計算結果に誤差が生じる場合があります。

この様な計算誤差はRに限らず、Excelや他のプログラミング言語など、コンピュータで計算(特に小数の計算)する上で必ず伴う現象です。

Rの場合は`Rmpfr`というパッケージを使ったりして小数計算の精度をコントロールしたりします。

この様な演算誤差を小さくとどめるかというのもコンピュータによる演算の課題の1つだったりします。

以下は例

In [ ]:
0.4-0.3-0.1 

0.4-0.2-0.2

In [ ]:
sin(pi)

sin(pi/2)